<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button>
          </ion-back-button>
        </ion-buttons>
    <ion-title>account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="assets/imgs/farmiop.jpg" height="100%" width="100%" alt="" srcset="" style="position: absolute;top:0;left:0;">

    <ion-card color="light">
        <ion-card-header>
          <ion-card-subtitle>Farm Name</ion-card-subtitle>
          <ion-card-title>{{farmName}}</ion-card-title>
        </ion-card-header>
        <ion-card-header>
          <ion-card-subtitle>email</ion-card-subtitle>
          <ion-card-title>{{username}}</ion-card-title>
        </ion-card-header>
        <!-- <ion-card-header>
          <ion-card-subtitle>Location</ion-card-subtitle>
          <ion-card-title>Tema Commuity 12</ion-card-title>
        </ion-card-header> -->
        <!-- <ion-card-header>
          <ion-card-subtitle>Number of Sensors</ion-card-subtitle>
          <ion-card-title>22</ion-card-title>
        </ion-card-header> -->
      
      </ion-card>
</ion-content>
