<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="dismiss()">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
        </ion-buttons>
    <ion-title>{{deviceName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
    <img src="assets/imgs/farmiop.jpg" height="100%" width="100%" alt="" srcset="" style="position: fixed;top:0;left:0;">
  
  <ion-card color="light">
    <ion-item>
        <ion-icon color="primary" name="star" size="large" slot="start"></ion-icon>
        <ion-label  style="padding: 15px;--padding:15px;">
          <h2>{{setpoint}}</h2>
          <p>Set Point</p>
        </ion-label>
      </ion-item>
</ion-card>

</ion-content>
