<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button>
          </ion-back-button>
        </ion-buttons>
    <ion-title>Alarm History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/imgs/farmiop.jpg" height="100%" width="100%" alt="" srcset="" style="position: absolute;top:0;left:0;">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>Alarms</ion-card-subtitle>
    </ion-card-header>
  
  
  </ion-card>
</ion-content>
